[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = false

[dev-packages]

[packages]
flask = "*"
jsonify = "*"
requests = "*"
flask-sqlalchemy = "*"
pytest = "*"
sqlalchemy = "*"
pytest_mock = "*"
mock = "*"
psycopg2-binary = "*"
psycopg2 = "*"
guppy3 = "*"
pytz = "*"
serialize-mcr = "==0.0.3"
tabulate = "*"
mysqlclient = "*"
selenium = "*"
chromedriver-binary = "*"
sklearn = "*"

[requires]
python_version = "3.8"